body {
  margin: 0;
  padding: 0;
  background: #cce1f4;
  color: #1f5d5e;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}
.cont {
  width: 330px;
  margin: 0 auto;
}
.page {
  height: 100vh;
  padding: 60px 0 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
