.cardList {
  justify-content: space-between;
}
.cardList .scrolling {
  height: 100%;
  flex-shrink: 1;
  padding: 10px 0;
  overflow-y: auto;
}
.cardList .scrolling .cont .card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.cardList .scrolling .cont .card .backward,
.cardList .scrolling .cont .card .forward {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 1px solid #1f5d5e;
  border-radius: 15px;
  font-size: 15px;
  line-height: 30px;
  color: #1f5d5e;
  text-align: center;
}
.cardList .scrolling .cont .card .backward input,
.cardList .scrolling .cont .card .forward input {
  display: inline-block;
  width: 130px;
  padding: 0;
  font-size: inherit;
  line-height: 30px;
  font-weight: inherit;
  text-align: inherit;
  border: none;
  border-radius: 0;
}
.cardList .scrolling .cont .card .backward input:focus,
.cardList .scrolling .cont .card .forward input:focus {
  outline: none;
  border-bottom: 1px solid #1f5d5e;
}
.cardList .scrolling .cont .card.editable .backward,
.cardList .scrolling .cont .card.editable .forward {
  background: #ffffff;
}
.cardList .bottom-buttons {
  padding: 10px 0;
  background: #1f5d5e;
}
.cardList .bottom-buttons .cont {
  display: flex;
  gap: 20px;
}
.cardList .bottom-buttons .cont button {
  flex-grow: 1;
  width: 50%;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}
.cardList .bottom-buttons .cont button.blue {
  background: #519ce4;
  color: #ffffff;
  font-size: 19px;
}
.cardList .bottom-buttons .cont button.green {
  background: #9ce451;
  color: #1f5d5e;
  font-size: 17px;
}
.cardList .bottom-buttons .cont button.red {
  background: #ffffff;
  color: #f00000;
  font-size: 17px;
}
