.lerning {
  justify-content: space-between;
  height: 100%;
}
.lerning .card-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
}
.lerning .card-container .lerning-card {
  display: flex;
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #1f5d5e;
  border-radius: 15px;
  font-size: 22px;
  line-height: 30px;
  color: #1f5d5e;
  background: #ffffff;
  text-align: center;
}
.lerning .bottom-buttons {
  padding: 10px 0;
  background: #1f5d5e;
}
.lerning .bottom-buttons .cont {
  display: flex;
  gap: 20px;
}
.lerning .bottom-buttons .cont button {
  display: inline-block;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 17px;
  white-space: nowrap;
}
.lerning .bottom-buttons .cont button.blue {
  background: #519ce4;
  color: #ffffff;
}
.lerning .bottom-buttons .cont button.green {
  background: #9ce451;
  color: #1f5d5e;
}
.lerning .bottom-buttons .cont button.red {
  background: #ffffff;
  color: #f00000;
}
.lerning .bottom-buttons .cont button {
  flex-grow: 1;
  width: 50%;
}
