.login {
  overflow-y: auto;
  padding: 0;
  justify-content: center;
  text-align: center;
}
.login button {
  display: inline-block;
  line-height: 50px;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 17px;
  white-space: nowrap;
}
.login button.blue {
  background: #519ce4;
  color: #ffffff;
}
.login button.green {
  background: #9ce451;
  color: #1f5d5e;
}
.login button.red {
  background: #ffffff;
  color: #f00000;
}
.login button {
  margin-top: 10px;
}
.login h2 {
  margin-top: 20px;
  border-top: 1px solid #1f5d5e;
  padding-top: 20px;
}
.login p {
  margin-bottom: 10px;
}
.login input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #519ce4;
  border-radius: 25px;
  line-height: 20px;
  font-size: 16px;
}
